.pagination__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px 0;
}
.pagination__container-limit-dropdown{
  padding: 2px 2px;
}
.pagination__container-start {
  padding: 0 5px;
  box-shadow: 0 0 2px blue;
  margin: 0 5px;
}
.pagination__container-prev{
  padding: 0 5px;
  box-shadow: 0 0 2px blue;
  margin: 0 5px;
}

.pagination__container-number span{
  padding: 0 5px;
  box-shadow: 0 0 2px blue;
  margin: 0 5px;
}

.pagination__container-next{
  padding: 0 5px;
  box-shadow: 0 0 2px blue;
  margin: 0 5px;
}

.pagination__container-end{
  padding: 0 5px;
  box-shadow: 0 0 2px blue;
  margin: 0 5px;
}